<div class="card">
    <div class="card-body">
        <h5 class="card-title b">
            <h3 [class]="result!==-1?'text-center':''">
                <strong *ngIf="result===-1">Numbers</strong>
                <strong *ngIf="result!==-1">Results</strong>
            </h3>
        </h5>
        <div *ngIf="result===-1" class="col ">
            <!-- NOTE [RULES-FCT-01-M] -->
            <button *ngFor="let ball of ballsNumber let i=index" (click)="selectedBall(ball)" class='{{getColor(i)}} ' [disabled]=' isDisabled(ball) '>

                <p class="h1">{{ball.toString().length==1?' 0'+ball:ball}}</p>
            </button>
        </div>
        <div [class]=" result!==-1?'col text-center':'col'">
            <button *ngIf="result!==-1" class='{{getColor(result-1)}}'>
                <p class="h1">{{result.toString().length==1?' 0'+result:result}}</p>
            </button>
        </div>

        <!-- <div clas="w-100"></div> -->
        <div *ngIf="result===-1" [class]=" result===-1?'col text-center':'col'">
            <br />
            <br />
            <br />
            <br />
            <br />
            <button class='btn btn-light' (click)="reset()">
                <p class="h4 text-primary">Clear selection</p>
            </button>
        </div>
        <div *ngIf="result!==-1" class='col mt-4 text-center'>

            <p class="h3 text-success">YOU WON</p>

        </div>

    </div>
</div>